In [10]:
import pandas as pd
import numpy as np

In [11]:
rows = 100

In [13]:
columns = [f"A_{rows}", f"B_{rows}"]
df = pd.DataFrame(np.random.randint(0, 100, size=(rows, 2)), columns=columns)
df

    A_100  B_100
0      54      0
1      58     79
2      52     76
3      20     33
4       5      0
5       6     41
6      53     13
7      32     29
8      81     74
9      52     45
10     72     10
11     30     53
12     25     86
13     31      5
14     87     52
15     65     54
16     84     26
17     65     83
18     84     18
19     41     96
20     46     25
21     75     32
22     66      0
23     34     59
24     83     43
25     64     60
26     21      1
27     69     46
28     81     51
29     81      4
..    ...    ...
70     70     22
71     93     29
72     52     72
73     68     19
74     89     91
75     66      4
76     50     93
77     42     86
78     70     40
79     80     26
80     83     50
81     97     67
82     72     70
83      6     41
84     46     19
85     73      8
86     19     77
87     65     22
88     96     49
89     73     91
90     52     68
91     27     10
92     35     26
93     77     78
94      1      5
95      5     77
96     83     86
97     28     68
98     51     65
99     64     81

[100 rows x 2 columns]

In [6]:
df.to_csv("pandas.csv")

In [7]:
df.to_parquet("pandas.parquet")

In [8]:
import analitico
analitico.pandas.pd_to_csv(df, "data.csv", schema=True, samples=5)

ModuleNotFoundError: No module named 'analitico'