## Blank Dataset
This notebook can be used to create, retrieve and process data

In [1]:
import pandas as pd

cars = {
  'Brand': ['Honda Civic','Toyota Corolla','Ford Focus','Audi A4'],
  'Price': [22000,25000,27000,35000]
}

df = pd.DataFrame(cars)
df.to_parquet("data.parquet")
df

            Brand  Price
0     Honda Civic  22000
1  Toyota Corolla  25000
2      Ford Focus  27000
3         Audi A4  35000