In [1]:
import json
import numpy as np
from scipy import stats
from datetime import datetime

import analitico
import analitico.plugin
import s24.plugin
from analitico.pandas import *
from analitico.schema import apply_schema

# pass api token to create sdk
sdk = analitico.authorize("tok_s24_579E5hOWw7k8")
print(datetime.utcnow())

2019-05-29 14:18:43.562128

In [2]:
# load table that is already a result of joining and processing several tables
df1 = sdk.get_dataframe("ds_s24_order")
df1.sample(n=10)

,id,store_id,customer_id,courier_id,picker_id,fulfillment_type,status,deliver_at_start,deliver_at_end,amount,...,deleted,gdo,vertical,created_at,updated_at,assigned_at,picked_at,paid_at,delivered_at,deleted_at
446641,914296,896402,896438,106027.0,nan,1,600,2018-12-22 10:00:00,2018-12-22 11:00:00,60.38,...,0,3,0,2018-12-21 18:30:18,2018-12-23 01:00:30,2018-12-21 21:53:33,nan,2018-12-22 10:01:36,2018-12-22 10:13:07,nan
245643,511621,491791,491827,58312.0,6.0,3,600,2018-03-13 19:00:00,2018-03-13 20:00:00,23.29,...,0,0,0,2018-03-13 17:47:02,2018-10-03 14:37:06,2018-03-13 17:50:58,2018-03-13 17:47:03,2018-03-13 20:04:16,2018-03-13 20:05:10,nan
189807,399949,379989,380025,84539.0,nan,1,600,2017-11-25 14:00:00,2017-11-25 15:00:00,64.12,...,0,1,0,2017-11-24 21:19:43,2018-10-03 15:28:55,2017-11-24 21:21:58,nan,2017-11-25 14:59:20,2017-11-25 15:23:52,nan
465056,951132,933402,933438,152873.0,nan,1,600,2019-01-13 16:00:00,2019-01-13 17:00:00,54.77,...,0,3,0,2019-01-13 13:37:24,2019-01-13 17:17:19,2019-01-13 14:04:24,nan,2019-01-13 16:53:37,2019-01-13 17:17:19,nan
587987,1197054,1180254,1180290,61472.0,nan,1,600,2019-05-04 11:00:00,2019-05-04 12:00:00,51.41,...,0,3,0,2019-05-03 16:21:15,2019-05-04 11:15:11,2019-05-04 08:51:38,nan,2019-05-04 10:44:02,2019-05-04 11:15:11,nan
184381,389097,369137,369173,88264.0,nan,1,600,2017-11-14 11:00:00,2017-11-14 12:00:00,21.31,...,0,3,0,2017-11-13 16:29:53,2018-10-03 15:28:35,2017-11-13 16:33:17,nan,2017-11-14 10:59:23,2017-11-14 11:57:50,nan
464954,950928,933196,933232,111161.0,nan,1,600,2019-01-14 18:00:00,2019-01-14 19:00:00,54.60,...,0,3,0,2019-01-13 11:33:37,2019-01-14 18:44:07,2019-01-14 15:52:10,nan,2019-01-14 17:37:04,2019-01-14 18:44:07,nan
73754,167612,147648,147656,42150.0,nan,1,600,2016-10-07 12:00:00,2016-10-07 13:00:00,68.21,...,0,0,0,2016-10-07 10:28:11,2018-10-03 15:40:31,2016-10-07 10:34:51,nan,2016-10-07 12:21:47,2016-10-07 12:33:36,nan
99317,218828,198864,198872,71782.0,nan,1,600,2017-02-13 14:00:00,2017-02-13 15:00:00,14.20,...,0,0,0,2017-02-13 12:59:03,2018-10-03 15:24:16,2017-02-13 13:05:26,nan,2017-02-13 14:00:58,2017-02-13 14:37:20,nan
214497,449329,429369,429405,109135.0,nan,3,600,2018-01-17 18:00:00,2018-01-17 19:00:00,54.68,...,0,2,0,2018-01-17 14:35:38,2018-10-03 14:35:35,2018-01-17 16:23:30,nan,2018-01-17 17:45:06,2018-01-17 18:07:42,nan

In [3]:
df1 = df1.copy()
df2 = augment_dates(df1, column="deliver_at_start")
df2

/Users/gionata/github/analitico/notebooks/analitico/pandas.py:94: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  df[column + ".year"] = dates.year.astype("category")

,id,store_id,customer_id,courier_id,picker_id,fulfillment_type,status,deliver_at_start.dayofweek,deliver_at_start.year,deliver_at_start.month,...,deleted,gdo,vertical,created_at,updated_at,assigned_at,picked_at,paid_at,delivered_at,deleted_at
0,20000,2,2,4302.0,nan,1,600,3,2015,5,...,0,0,0,2015-05-14 12:10:29,2018-10-03 15:38:03,2015-05-14 12:27:06,nan,2015-05-14 13:06:45,2015-05-14 13:07:24,nan
1,20002,4,4,4302.0,nan,1,600,3,2015,5,...,0,0,0,2015-05-14 12:16:29,2018-10-03 15:38:03,2015-05-14 12:24:03,nan,2015-05-14 13:28:44,2015-05-14 13:35:48,nan
2,20004,6,6,4302.0,nan,1,600,3,2015,5,...,0,0,0,2015-05-14 12:25:15,2018-10-03 15:38:03,2015-05-14 13:40:09,nan,2015-05-14 13:51:43,2015-05-14 14:52:09,nan
3,20006,8,8,4302.0,nan,1,600,3,2015,5,...,0,0,0,2015-05-14 12:26:36,2018-10-03 15:38:03,2015-05-14 13:52:22,nan,2015-05-14 14:24:50,2015-05-14 14:51:24,nan
4,20008,10,10,4302.0,nan,1,600,3,2015,5,...,0,0,0,2015-05-14 17:50:46,2018-10-03 15:38:03,2015-05-14 18:00:00,nan,2015-05-14 18:42:23,2015-05-14 18:58:45,nan
5,20010,12,12,12029.0,nan,1,600,3,2015,5,...,0,0,0,2015-05-14 17:53:46,2018-10-03 15:38:03,2015-05-14 18:43:15,nan,2015-05-14 20:13:06,2015-05-14 20:19:27,nan
6,20012,14,14,3081.0,nan,1,600,4,2015,5,...,0,0,0,2015-05-15 12:51:26,2018-10-03 15:38:03,2015-05-15 13:21:29,nan,2015-05-15 14:07:18,2015-05-15 14:28:20,nan
7,20014,16,16,nan,nan,1,200,4,2015,5,...,1,0,0,2015-05-15 13:17:49,2015-10-07 17:11:52,nan,nan,nan,nan,2015-05-15 14:06:21
8,20016,18,18,3777.0,nan,1,600,4,2015,5,...,0,0,0,2015-05-15 19:30:16,2018-10-03 15:38:03,2015-05-15 19:45:03,nan,2015-05-15 20:53:19,2015-05-15 21:04:08,nan
9,20018,20,20,12068.0,nan,1,300,5,2015,5,...,1,0,0,2015-05-16 14:49:45,2015-07-08 11:18:16,2015-05-16 16:08:45,nan,nan,nan,2015-05-16 17:21:43
10,20020,22,22,nan,nan,1,200,5,2015,5,...,1,0,0,2015-05-16 19:09:09,2015-05-19 19:53:02,nan,nan,nan,nan,2015-05-16 19:43:00
11,20022,24,24,nan,nan,1,200,5,2015,5,...,1,0,0,2015-05-16 20:15:41,2015-05-19 19:34:35,nan,nan,nan,nan,2015-05-16 21:00:07
12,20024,26,26,nan,nan,1,200,5,2015,5,...,1,0,0,2015-05-16 21:40:36,2015-05-19 19:34:08,nan,nan,nan,nan,2015-05-16 22:02:31
13,20026,28,28,nan,nan,1,0,0,2015,5,...,1,0,0,2015-05-18 07:38:13,2016-01-18 15:22:00,nan,nan,nan,nan,nan
14,20028,30,30,13864.0,nan,1,600,0,2015,5,...,0,0,0,2015-05-18 13:19:15,2018-10-03 15:38:03,2015-05-18 13:38:36,nan,2015-05-18 18:01:05,2015-05-18 18:14:55,nan
15,20030,32,32,5709.0,nan,1,300,0,2015,5,...,1,0,0,2015-05-18 13:37:08,2015-05-28 12:30:05,2015-05-18 13:41:06,nan,nan,nan,nan
16,20032,34,34,13035.0,nan,1,600,0,2015,5,...,0,0,0,2015-05-18 18:23:59,2018-10-03 15:38:03,2015-05-18 18:35:04,nan,2015-05-18 19:44:52,2015-05-18 20:07:02,nan
17,20034,36,36,nan,nan,1,200,0,2015,5,...,1,0,0,2015-05-18 20:17:12,2015-05-19 19:33:57,nan,nan,nan,nan,2015-05-18 21:06:18
18,20036,38,38,nan,nan,1,200,0,2015,5,...,1,0,0,2015-05-18 20:30:21,2015-05-19 19:34:04,nan,nan,nan,nan,2015-05-18 21:06:11
19,20038,40,40,nan,nan,1,0,1,2015,5,...,1,0,0,2015-05-19 17:05:10,2015-05-19 18:00:35,nan,nan,nan,nan,2015-05-19 17:06:08
20,20040,42,42,13035.0,nan,1,600,1,2015,5,...,0,0,0,2015-05-19 17:43:24,2018-10-03 15:38:03,2015-05-19 18:13:18,nan,2015-05-19 18:52:52,2015-05-19 19:10:22,nan
21,20042,44,44,nan,nan,1,200,1,2015,5,...,1,0,0,2015-05-19 21:49:38,2015-05-19 22:10:26,nan,nan,nan,nan,2015-05-19 22:00:17
22,20044,46,46,nan,nan,1,200,2,2015,5,...,1,0,0,2015-05-20 13:07:59,2015-05-21 16:05:16,nan,nan,nan,nan,2015-05-20 13:33:35
23,20046,48,48,7270.0,nan,1,600,2,2015,5,...,0,0,0,2015-05-20 13:37:15,2018-10-03 15:38:03,2015-05-20 13:38:26,nan,2015-05-20 21:05:00,2015-05-20 21:26:19,nan
24,20048,50,50,1208.0,nan,1,600,2,2015,5,...,0,0,0,2015-05-20 17:13:51,2018-10-03 15:38:03,2015-05-20 18:27:36,nan,2015-05-20 19:12:07,2015-05-20 22:10:31,nan
25,20050,52,52,4393.0,nan,1,600,2,2015,5,...,0,0,0,2015-05-20 17:47:58,2018-10-03 15:38:03,2015-05-20 18:45:08,nan,2015-05-20 19:38:41,2015-05-20 19:53:49,nan
26,20052,54,54,nan,nan,1,200,2,2015,5,...,1,0,0,2015-05-20 20:20:26,2015-05-21 16:05:41,nan,nan,nan,nan,2015-05-20 20:59:55
27,20054,56,56,14816.0,nan,1,600,2,2015,5,...,0,0,0,2015-05-20 20:54:56,2018-10-03 15:38:03,2015-05-20 21:22:27,nan,2015-05-20 22:04:31,2015-05-20 22:28:13,nan
28,20056,58,58,4701.0,nan,1,600,4,2015,5,...,0,0,0,2015-05-21 08:39:31,2018-10-03 15:38:03,2015-05-21 19:52:31,nan,2015-05-22 18:52:12,2015-05-22 19:07:51,nan
29,20058,60,60,14816.0,nan,1,600,3,2015,5,...,0,0,0,2015-05-21 09:39:06,2018-10-03 15:38:03,2015-05-21 11:02:51,nan,2015-05-21 15:43:21,2015-05-21 17:23:48,nan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
621499,1264108,1247632,1247668,nan,nan,1,200,2,2019,5,...,0,12,0,2019-05-29 00:13:59,2019-05-29 00:14:00,nan,nan,nan,nan,nan
621500,1264110,1247634,1247670,nan,nan,1,200,4,2019,5,...,0,12,0,2019-05-29 00:14:16,2019-05-29 00:14:16,nan,nan,nan,nan,nan
621501,1264112,1247636,1247672,nan,nan,1,200,3,2019,5,...,0,12,0,2019-05-29 00:15:45,2019-05-29 00:15:46,nan,nan,nan,nan,nan
621502,1264114,1247638,1247674,nan,nan,1,200,2,2019,5,...,1,3,0,2019-05-29 00:24:37,2019-05-29 01:51:07,nan,nan,nan,nan,2019-05-29 01:51:07
621503,1264116,1247640,1247676,nan,nan,1,200,2,2019,5,...,0,13,0,2019-05-29 00:27:18,2019-05-29 00:27:20,nan,nan,nan,nan,nan
621504,1264118,1247642,1247678,nan,nan,1,200,2,2019,5,...,0,1,0,2019-05-29 00:27:31,2019-05-29 00:27:31,nan,nan,nan,nan,nan
621505,1264120,1247644,1247680,nan,nan,1,200,5,2019,6,...,0,13,0,2019-05-29 00:27:52,2019-05-29 00:27:52,nan,nan,nan,nan,nan
621506,1264122,1247646,1247682,nan,nan,1,200,2,2019,5,...,0,3,0,2019-05-29 00:28:18,2019-05-29 00:28:19,nan,nan,nan,nan,nan
621507,1264124,1247648,1247684,nan,nan,1,200,2,2019,5,...,0,0,0,2019-05-29 00:35:43,2019-05-29 00:35:44,nan,nan,nan,nan,nan
621508,1264126,1247650,1247686,nan,nan,1,200,2,2019,5,...,0,1,0,2019-05-29 00:38:31,2019-05-29 00:38:32,nan,nan,nan,nan,nan
621509,1264128,1247652,1247688,nan,nan,1,200,2,2019,5,...,0,13,0,2019-05-29 00:39:40,2019-05-29 00:39:41,nan,nan,nan,nan,nan
621510,1264130,1247654,1247690,nan,nan,1,200,2,2019,5,...,0,8,0,2019-05-29 00:45:57,2019-05-29 00:45:58,nan,nan,nan,nan,nan
621511,1264132,1247656,1247692,nan,nan,1,200,2,2019,5,...,0,12,0,2019-05-29 00:47:16,2019-05-29 00:47:17,nan,nan,nan,nan,nan
621512,1264134,1247658,1247694,nan,nan,1,200,3,2019,5,...,0,12,0,2019-05-29 00:48:44,2019-05-29 00:48:45,nan,nan,nan,nan,nan
621513,1264136,1247660,1247696,nan,nan,1,200,2,2019,5,...,0,5,0,2019-05-29 00:52:58,2019-05-29 00:52:59,nan,nan,nan,nan,nan
621514,1264138,1247662,1247698,nan,nan,1,200,2,2019,5,...,0,12,0,2019-05-29 01:03:57,2019-05-29 01:03:58,nan,nan,nan,nan,nan
621515,1264140,1247664,1247700,nan,nan,1,200,2,2019,5,...,0,12,0,2019-05-29 01:03:57,2019-05-29 01:03:58,nan,nan,nan,nan,nan
621516,1264142,1247666,1247702,nan,nan,1,200,2,2019,5,...,0,12,0,2019-05-29 01:07:20,2019-05-29 01:07:21,nan,nan,nan,nan,nan
621517,1264144,1247668,1247704,nan,nan,1,200,2,2019,5,...,0,12,0,2019-05-29 01:07:52,2019-05-29 01:07:53,nan,nan,nan,nan,nan
621518,1264146,1247670,1247706,nan,nan,1,200,2,2019,5,...,0,5,0,2019-05-29 01:10:07,2019-05-29 01:10:08,nan,nan,nan,nan,nan
621519,1264148,1247672,1247708,nan,nan,1,200,2,2019,5,...,0,5,0,2019-05-29 01:14:02,2019-05-29 01:14:03,nan,nan,nan,nan,nan
621520,1264150,1247674,1247710,nan,nan,1,200,2,2019,5,...,0,12,0,2019-05-29 01:24:05,2019-05-29 01:24:06,nan,nan,nan,nan,nan
621521,1264152,1247676,1247712,nan,nan,1,200,3,2019,5,...,0,12,0,2019-05-29 01:36:06,2019-05-29 01:36:07,nan,nan,nan,nan,nan
621522,1264154,1247678,1247714,nan,nan,1,200,2,2019,5,...,0,0,0,2019-05-29 01:48:50,2019-05-29 01:49:25,nan,nan,nan,nan,nan
621523,1264156,1247680,1247716,nan,nan,1,200,2,2019,5,...,0,12,0,2019-05-29 01:49:32,2019-05-29 01:49:33,nan,nan,nan,nan,nan
621524,1264158,1247682,1247718,nan,nan,1,200,2,2019,5,...,0,3,0,2019-05-29 01:51:07,2019-05-29 01:51:07,nan,nan,nan,nan,nan
621525,1264160,1247684,1247720,nan,nan,1,200,2,2019,5,...,0,0,0,2019-05-29 01:55:37,2019-05-29 01:55:38,nan,nan,nan,nan,nan
621526,1264162,1247686,1247722,nan,nan,1,200,4,2019,5,...,0,12,0,2019-05-29 02:03:34,2019-05-29 02:03:35,nan,nan,nan,nan,nan
621527,1264164,1247688,1247724,nan,nan,1,200,4,2019,5,...,0,11,0,2019-05-29 02:07:00,2019-05-29 02:07:01,nan,nan,nan,nan,nan
621528,1264166,1247690,1247726,nan,nan,1,200,3,2019,5,...,0,12,0,2019-05-29 02:14:14,2019-05-29 02:15:14,nan,nan,nan,nan,nan

In [4]:
dates = pd.DatetimeIndex(df2["updated_at"])
df2.loc[:,"updated_at.year"] = dates.year.astype("category")
df2

,id,store_id,customer_id,courier_id,picker_id,fulfillment_type,status,deliver_at_start.dayofweek,deliver_at_start.year,deliver_at_start.month,...,gdo,vertical,created_at,updated_at,assigned_at,picked_at,paid_at,delivered_at,deleted_at,updated_at.year
0,20000,2,2,4302.0,nan,1,600,3,2015,5,...,0,0,2015-05-14 12:10:29,2018-10-03 15:38:03,2015-05-14 12:27:06,nan,2015-05-14 13:06:45,2015-05-14 13:07:24,nan,2018
1,20002,4,4,4302.0,nan,1,600,3,2015,5,...,0,0,2015-05-14 12:16:29,2018-10-03 15:38:03,2015-05-14 12:24:03,nan,2015-05-14 13:28:44,2015-05-14 13:35:48,nan,2018
2,20004,6,6,4302.0,nan,1,600,3,2015,5,...,0,0,2015-05-14 12:25:15,2018-10-03 15:38:03,2015-05-14 13:40:09,nan,2015-05-14 13:51:43,2015-05-14 14:52:09,nan,2018
3,20006,8,8,4302.0,nan,1,600,3,2015,5,...,0,0,2015-05-14 12:26:36,2018-10-03 15:38:03,2015-05-14 13:52:22,nan,2015-05-14 14:24:50,2015-05-14 14:51:24,nan,2018
4,20008,10,10,4302.0,nan,1,600,3,2015,5,...,0,0,2015-05-14 17:50:46,2018-10-03 15:38:03,2015-05-14 18:00:00,nan,2015-05-14 18:42:23,2015-05-14 18:58:45,nan,2018
5,20010,12,12,12029.0,nan,1,600,3,2015,5,...,0,0,2015-05-14 17:53:46,2018-10-03 15:38:03,2015-05-14 18:43:15,nan,2015-05-14 20:13:06,2015-05-14 20:19:27,nan,2018
6,20012,14,14,3081.0,nan,1,600,4,2015,5,...,0,0,2015-05-15 12:51:26,2018-10-03 15:38:03,2015-05-15 13:21:29,nan,2015-05-15 14:07:18,2015-05-15 14:28:20,nan,2018
7,20014,16,16,nan,nan,1,200,4,2015,5,...,0,0,2015-05-15 13:17:49,2015-10-07 17:11:52,nan,nan,nan,nan,2015-05-15 14:06:21,2015
8,20016,18,18,3777.0,nan,1,600,4,2015,5,...,0,0,2015-05-15 19:30:16,2018-10-03 15:38:03,2015-05-15 19:45:03,nan,2015-05-15 20:53:19,2015-05-15 21:04:08,nan,2018
9,20018,20,20,12068.0,nan,1,300,5,2015,5,...,0,0,2015-05-16 14:49:45,2015-07-08 11:18:16,2015-05-16 16:08:45,nan,nan,nan,2015-05-16 17:21:43,2015
10,20020,22,22,nan,nan,1,200,5,2015,5,...,0,0,2015-05-16 19:09:09,2015-05-19 19:53:02,nan,nan,nan,nan,2015-05-16 19:43:00,2015
11,20022,24,24,nan,nan,1,200,5,2015,5,...,0,0,2015-05-16 20:15:41,2015-05-19 19:34:35,nan,nan,nan,nan,2015-05-16 21:00:07,2015
12,20024,26,26,nan,nan,1,200,5,2015,5,...,0,0,2015-05-16 21:40:36,2015-05-19 19:34:08,nan,nan,nan,nan,2015-05-16 22:02:31,2015
13,20026,28,28,nan,nan,1,0,0,2015,5,...,0,0,2015-05-18 07:38:13,2016-01-18 15:22:00,nan,nan,nan,nan,nan,2016
14,20028,30,30,13864.0,nan,1,600,0,2015,5,...,0,0,2015-05-18 13:19:15,2018-10-03 15:38:03,2015-05-18 13:38:36,nan,2015-05-18 18:01:05,2015-05-18 18:14:55,nan,2018
15,20030,32,32,5709.0,nan,1,300,0,2015,5,...,0,0,2015-05-18 13:37:08,2015-05-28 12:30:05,2015-05-18 13:41:06,nan,nan,nan,nan,2015
16,20032,34,34,13035.0,nan,1,600,0,2015,5,...,0,0,2015-05-18 18:23:59,2018-10-03 15:38:03,2015-05-18 18:35:04,nan,2015-05-18 19:44:52,2015-05-18 20:07:02,nan,2018
17,20034,36,36,nan,nan,1,200,0,2015,5,...,0,0,2015-05-18 20:17:12,2015-05-19 19:33:57,nan,nan,nan,nan,2015-05-18 21:06:18,2015
18,20036,38,38,nan,nan,1,200,0,2015,5,...,0,0,2015-05-18 20:30:21,2015-05-19 19:34:04,nan,nan,nan,nan,2015-05-18 21:06:11,2015
19,20038,40,40,nan,nan,1,0,1,2015,5,...,0,0,2015-05-19 17:05:10,2015-05-19 18:00:35,nan,nan,nan,nan,2015-05-19 17:06:08,2015
20,20040,42,42,13035.0,nan,1,600,1,2015,5,...,0,0,2015-05-19 17:43:24,2018-10-03 15:38:03,2015-05-19 18:13:18,nan,2015-05-19 18:52:52,2015-05-19 19:10:22,nan,2018
21,20042,44,44,nan,nan,1,200,1,2015,5,...,0,0,2015-05-19 21:49:38,2015-05-19 22:10:26,nan,nan,nan,nan,2015-05-19 22:00:17,2015
22,20044,46,46,nan,nan,1,200,2,2015,5,...,0,0,2015-05-20 13:07:59,2015-05-21 16:05:16,nan,nan,nan,nan,2015-05-20 13:33:35,2015
23,20046,48,48,7270.0,nan,1,600,2,2015,5,...,0,0,2015-05-20 13:37:15,2018-10-03 15:38:03,2015-05-20 13:38:26,nan,2015-05-20 21:05:00,2015-05-20 21:26:19,nan,2018
24,20048,50,50,1208.0,nan,1,600,2,2015,5,...,0,0,2015-05-20 17:13:51,2018-10-03 15:38:03,2015-05-20 18:27:36,nan,2015-05-20 19:12:07,2015-05-20 22:10:31,nan,2018
25,20050,52,52,4393.0,nan,1,600,2,2015,5,...,0,0,2015-05-20 17:47:58,2018-10-03 15:38:03,2015-05-20 18:45:08,nan,2015-05-20 19:38:41,2015-05-20 19:53:49,nan,2018
26,20052,54,54,nan,nan,1,200,2,2015,5,...,0,0,2015-05-20 20:20:26,2015-05-21 16:05:41,nan,nan,nan,nan,2015-05-20 20:59:55,2015
27,20054,56,56,14816.0,nan,1,600,2,2015,5,...,0,0,2015-05-20 20:54:56,2018-10-03 15:38:03,2015-05-20 21:22:27,nan,2015-05-20 22:04:31,2015-05-20 22:28:13,nan,2018
28,20056,58,58,4701.0,nan,1,600,4,2015,5,...,0,0,2015-05-21 08:39:31,2018-10-03 15:38:03,2015-05-21 19:52:31,nan,2015-05-22 18:52:12,2015-05-22 19:07:51,nan,2018
29,20058,60,60,14816.0,nan,1,600,3,2015,5,...,0,0,2015-05-21 09:39:06,2018-10-03 15:38:03,2015-05-21 11:02:51,nan,2015-05-21 15:43:21,2015-05-21 17:23:48,nan,2018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
621499,1264108,1247632,1247668,nan,nan,1,200,2,2019,5,...,12,0,2019-05-29 00:13:59,2019-05-29 00:14:00,nan,nan,nan,nan,nan,2019
621500,1264110,1247634,1247670,nan,nan,1,200,4,2019,5,...,12,0,2019-05-29 00:14:16,2019-05-29 00:14:16,nan,nan,nan,nan,nan,2019
621501,1264112,1247636,1247672,nan,nan,1,200,3,2019,5,...,12,0,2019-05-29 00:15:45,2019-05-29 00:15:46,nan,nan,nan,nan,nan,2019
621502,1264114,1247638,1247674,nan,nan,1,200,2,2019,5,...,3,0,2019-05-29 00:24:37,2019-05-29 01:51:07,nan,nan,nan,nan,2019-05-29 01:51:07,2019
621503,1264116,1247640,1247676,nan,nan,1,200,2,2019,5,...,13,0,2019-05-29 00:27:18,2019-05-29 00:27:20,nan,nan,nan,nan,nan,2019
621504,1264118,1247642,1247678,nan,nan,1,200,2,2019,5,...,1,0,2019-05-29 00:27:31,2019-05-29 00:27:31,nan,nan,nan,nan,nan,2019
621505,1264120,1247644,1247680,nan,nan,1,200,5,2019,6,...,13,0,2019-05-29 00:27:52,2019-05-29 00:27:52,nan,nan,nan,nan,nan,2019
621506,1264122,1247646,1247682,nan,nan,1,200,2,2019,5,...,3,0,2019-05-29 00:28:18,2019-05-29 00:28:19,nan,nan,nan,nan,nan,2019
621507,1264124,1247648,1247684,nan,nan,1,200,2,2019,5,...,0,0,2019-05-29 00:35:43,2019-05-29 00:35:44,nan,nan,nan,nan,nan,2019
621508,1264126,1247650,1247686,nan,nan,1,200,2,2019,5,...,1,0,2019-05-29 00:38:31,2019-05-29 00:38:32,nan,nan,nan,nan,nan,2019
621509,1264128,1247652,1247688,nan,nan,1,200,2,2019,5,...,13,0,2019-05-29 00:39:40,2019-05-29 00:39:41,nan,nan,nan,nan,nan,2019
621510,1264130,1247654,1247690,nan,nan,1,200,2,2019,5,...,8,0,2019-05-29 00:45:57,2019-05-29 00:45:58,nan,nan,nan,nan,nan,2019
621511,1264132,1247656,1247692,nan,nan,1,200,2,2019,5,...,12,0,2019-05-29 00:47:16,2019-05-29 00:47:17,nan,nan,nan,nan,nan,2019
621512,1264134,1247658,1247694,nan,nan,1,200,3,2019,5,...,12,0,2019-05-29 00:48:44,2019-05-29 00:48:45,nan,nan,nan,nan,nan,2019
621513,1264136,1247660,1247696,nan,nan,1,200,2,2019,5,...,5,0,2019-05-29 00:52:58,2019-05-29 00:52:59,nan,nan,nan,nan,nan,2019
621514,1264138,1247662,1247698,nan,nan,1,200,2,2019,5,...,12,0,2019-05-29 01:03:57,2019-05-29 01:03:58,nan,nan,nan,nan,nan,2019
621515,1264140,1247664,1247700,nan,nan,1,200,2,2019,5,...,12,0,2019-05-29 01:03:57,2019-05-29 01:03:58,nan,nan,nan,nan,nan,2019
621516,1264142,1247666,1247702,nan,nan,1,200,2,2019,5,...,12,0,2019-05-29 01:07:20,2019-05-29 01:07:21,nan,nan,nan,nan,nan,2019
621517,1264144,1247668,1247704,nan,nan,1,200,2,2019,5,...,12,0,2019-05-29 01:07:52,2019-05-29 01:07:53,nan,nan,nan,nan,nan,2019
621518,1264146,1247670,1247706,nan,nan,1,200,2,2019,5,...,5,0,2019-05-29 01:10:07,2019-05-29 01:10:08,nan,nan,nan,nan,nan,2019
621519,1264148,1247672,1247708,nan,nan,1,200,2,2019,5,...,5,0,2019-05-29 01:14:02,2019-05-29 01:14:03,nan,nan,nan,nan,nan,2019
621520,1264150,1247674,1247710,nan,nan,1,200,2,2019,5,...,12,0,2019-05-29 01:24:05,2019-05-29 01:24:06,nan,nan,nan,nan,nan,2019
621521,1264152,1247676,1247712,nan,nan,1,200,3,2019,5,...,12,0,2019-05-29 01:36:06,2019-05-29 01:36:07,nan,nan,nan,nan,nan,2019
621522,1264154,1247678,1247714,nan,nan,1,200,2,2019,5,...,0,0,2019-05-29 01:48:50,2019-05-29 01:49:25,nan,nan,nan,nan,nan,2019
621523,1264156,1247680,1247716,nan,nan,1,200,2,2019,5,...,12,0,2019-05-29 01:49:32,2019-05-29 01:49:33,nan,nan,nan,nan,nan,2019
621524,1264158,1247682,1247718,nan,nan,1,200,2,2019,5,...,3,0,2019-05-29 01:51:07,2019-05-29 01:51:07,nan,nan,nan,nan,nan,2019
621525,1264160,1247684,1247720,nan,nan,1,200,2,2019,5,...,0,0,2019-05-29 01:55:37,2019-05-29 01:55:38,nan,nan,nan,nan,nan,2019
621526,1264162,1247686,1247722,nan,nan,1,200,4,2019,5,...,12,0,2019-05-29 02:03:34,2019-05-29 02:03:35,nan,nan,nan,nan,nan,2019
621527,1264164,1247688,1247724,nan,nan,1,200,4,2019,5,...,11,0,2019-05-29 02:07:00,2019-05-29 02:07:01,nan,nan,nan,nan,nan,2019
621528,1264166,1247690,1247726,nan,nan,1,200,3,2019,5,...,12,0,2019-05-29 02:14:14,2019-05-29 02:15:14,nan,nan,nan,nan,nan,2019